.*.swp
.libs
.deps
*.o
*.lo
*.rc
*.exe
*.rpm
*.spec
*.tar.gz
*~
aclocal.m4
autom4te.cache
config.guess
config.h
ehstypes.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doxygen.cfg
findrequires.pl
install-sh
isccwrap.sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
mingw32-config.cache
missing
Makefile
Makefile.in
rpmbuild.log
stamp-h1

# Windows
*.vcxproj
*.vcxproj.*
*.vcproj
*.vcproj.*
*.sdf
*.sln
*.suo
*.ncb
*.opensdf
Thumbs.db
ipch
Debug
RelWithDebInfo
*.lib
*.exp
*.pdb
*.dll
*.ilk
*.resource.txt
*.embed.manifest*
*.intermediate.manifest*

# CMake
CMakeFiles/
CMakeCache.txt
config.h
Makefile
cmake_install.cmake

# Other
*~
*.dir
Release
Win32
